/* contact us styling */

.map-responsive{
    width: 100%;
    height: 450px;
}

.get_find {
    margin-top: 60px!important;
}

.box_getin h5{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px;
}

.get_find .box_getin .box-email {
    margin-top: 36px;
}

.get_find .box_getin .box-email .form-control{
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #000;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 16px;
    padding-top: 36px;
}

.get_find .box_getin .box-email .input-group{
    padding-bottom: 0;
    border-bottom: 1px solid #000;
    padding-top: 100px;
    margin-bottom: 0!important;
}

.get_find .box_getin .box-email .input-group {
    padding-top: 0!important;
}

.get_find .box_getin .box-email .btn-primary{
    background-color: #edc600;
    border-radius: 0;
    border: none;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 21px;
    transition: .3s;
    width: 100%;
}

.page_contact .col-lg-6.col-md-6 {
    margin-top: auto;
    margin-bottom: auto;
}

.get_find .box_getin.box_find .info_find {
    margin-left: 50px;
    padding-top: 40px;
}

.get_find .box_getin.box_find .info_find p span {
    margin-right: 25px;
}

.get_find .box_getin p {
    font-size: 15px;
    color: #000;
    line-height: 30px;
}
