@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.search-option-container{
    width: 100%;
    height: 0vh;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10000;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 1px 1px 10px #000;;
}

.search-option{
    padding: 20px 0;
    width: 70%;
}

.search-option .search-text{
    font-size: 40px;
    text-align: center;
    color: #000;
    font-weight: 600;
    margin-bottom: 1em;
}

.search-bar{
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar-animation{
    animation: searchoptionanimation .7s linear 0s;
}

.search-bar input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 1px 1px #e1e1e1;
    padding: 10px;
    outline: none;
}

.search-bar input::placeholder{
    font-size: 16px;
}

.search-bar i{
    position: absolute;
    right: 10px;
}

.search-bar i:hover{
    color: #edc600;
    cursor: pointer;
}

.search-note{
    margin-top: 20px;
}

.search-option span{
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 20px;
}

.search-option span:hover{
    color: #edc600;
    cursor: pointer;
}

.popup-login-desktop.active{
    opacity: 1;
    visibility: visible;
    z-index: 100000;
}

.popup-login-desktop{
    width: 500px;
    margin: auto;
    background-color: #fff;
    box-shadow: 7px 6px 40px 0 rgba(204, 204, 223, .16);
    position: fixed;
    max-width: 90%;
    top: 20px;
    right: 0;
    left: 0;
    bottom: 0;
    height: 600px;
    padding: 50px;
    z-index: 100000;
    transition: all .3s;
    transform: scale(0);
}

.justify-content-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.form-login-desktop{
    width: 85%;
}

.login-icon-popup-login{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.popup-login-desktop a{
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.login-icon-popup-login img{
    vertical-align: middle;
    border: none;
    max-width: 100%;
}

.title-tab-login{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    padding-top: 20px;
}

.mailrrr{
    margin-top: 1rem;
}

.customer-login{
    margin-bottom: 0;
}

.form-group{
    margin-bottom: 1rem;
}

.form-control{
    height: 55px;
    width: 100%;   
    padding-left: 10px; 
}

.form-check{
    padding-left: 0;
    text-align: left;
    font-size: 14px;
    position: relative;
    display: block;
}

.login-popup-button{
    height: 55px;
    border-radius: 0;
    background-color: #000;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 600;
    margin-top: 20px;
    transition: all .3s ease;
    border: none;   
    cursor: pointer;
    width: 100%;
}

.login-popup-button:hover{
    background-color: #edc600;
}

.or-creat{
    margin: 1rem 0;
}

.box-register{
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #e8eced;
    font-size: 14px;
}

.box-register a{
    color: rgb(128, 128, 128);
}

.box-register a:hover{
    color: #edc600;
}

.popup-login-close-button{
    position: fixed;
    bottom: 100.5%;
    color: #fff;
    right: 5px;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

.popup-login-close-button:hover
{
    color: #edc600;
}

.body{
    transition: all .3s;
}

.top-info{
    background-color: #000;
    color: #fff;
    padding: 10px 0; 
    font-size: 14px;
    text-align: center;
}

.top-info p a{
    text-decoration: none;
    color: #fff;
}

.js-minicart{
    position: fixed;
    height: 100vh;
    box-shadow: 1px 1px 10px #000;
    width: 380px;
    top: 0;
    right: -380px;
    z-index: 100000;
    background-color: #f7f7f7;
    transition: all .3s;
}

.mini-content{
    height: 8vh;
}

.mini-cart-head{
    display: flex;
    font-weight: 900
}

.mini-cart-head p{
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
}

.mini-cart-head-close-button{
    cursor: pointer;
}

.mini-cart-head-close-button:hover{
    color: #edc600;
}

.mini-cart-head .mini-cart-head-heading{
    flex: 1;
    text-align: center;
    border: 1px solid #e1e1e1;
    padding: 10px 20px;
}

.mini-cart-bottom{
    height: 92vh;
}

.list-product-minicart{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.empty-product-minicart{
    width: 100%;
}

.empty-product-minicart-para{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.empty-product-minicart-button{
    padding: 20px 30px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 900;
    cursor: pointer;
    transition: all .5s;
}

.empty-product-minicart-button:hover{
    background-color: #edc600;
}

.nav{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 1px 1px 10px #000;
}

.nav-logo{
    margin-top: 10px;
}

.nav-items{
    display: flex;
    list-style-type: none;
    margin-right: 50px;
}

.nav-items a{
    display: inline-block;
    padding: 10px;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 900;
    color: #000;
    transition: 0.5s all;
    position: relative;
}

.nav-items a:hover {
    color: #edc600;
}

.nav-items a::before{
    content: '';
    width: 0%;
    height: 1px;
    background-color: #edc600;
    position: absolute; 
    bottom: 0;
    right: 0;
    transition: .6s all;
}

.nav-items a:hover::before{
    width: 100%;
    left: 0;
}

.nav-items a li{
    position: relative;

}

.nav-items a li span{
    display: none;
    position: absolute;
    top: 40px;
    left: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: #fff;
    font-weight: 100;
    padding: 15px;
    z-index: 1000;
    opacity: .75;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-width: 100px;
}

.nav-items a:hover li span{
    display: block;
}

.nav-icons{
    display: flex;
}

.nav-icons div{
    margin: 10px;
    font-size: 20px;
}

.nav-icons div i{
    position: relative;
    cursor: pointer;
}

.nav-icons div i span{
    display: none;
    position: absolute;
    top: 40px;
    right: -10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: #fff;
    font-weight: 100;
    padding: 15px;
    z-index: 1000;
    opacity: .75;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-width: 100px;
}

.nav-icons div:hover i span{
    display: block;
}

.large-image{
    position: relative;
}

.text-on-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-weight: 400;
}

.text-on-image .big-text{
    font-size: 60px;
    line-height: 1.1;
    animation: animate1 1s;
}

.text-on-image .small-text{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    animation: animate2 1s;
}

.info-panel{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 5px;
    padding: 40px 120px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.info-panel img{
    margin-bottom: 10px;
}

.content{
    padding: 100px 200px;
    text-align: center;
    font-weight: 700;
    color: #212529;
}

.menu .menu-heading{
    font-size: 60px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 2px;
    color: #222222;
}

.menu-list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 30px;
}

.menu-list li{
    display: inline-block;
    color: #edc600;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    min-width: 110px;
    height: 42px;
    border: 1px solid #edc600;
    text-align: center;
    line-height: 42px;
    transition: .5s all;
    cursor: pointer;
}

.menu-list li:hover{
    background-color: #edc600;
    color: #fff;
}

.menu-cart-row{
    display: flex;
}

.menu-cart-row2,
.menu-cart-row3,
.menu-cart-row4,
.menu-cart-row5,
.menu-cart-row6,
.menu-cart-row7,
.menu-cart-row8,
.menu-cart-row9,
.menu-cart-row10,
.menu-cart-row11,
.menu-cart-row12,
.menu-cart-row13,
.menu-cart-row14{
    display: none;
}

.menu-cart .cart{
    margin: 40px 15px;
    cursor: pointer;
    width: 25%;
}

.menu-cart img{
    width: 100%;
    margin-bottom: 10px;
}

.menu-info{
    font-weight: 700;
    margin: 10px 0;
}

.menu-info a{
    color: #000;
    text-decoration: none;
}

.menu-info a:hover{
    color: #edc600;
}

.menu-about{
    position: relative;
}

.menu-price{
    font-size: 13px;
    font-weight: 700;
    color: #edc600;
}

.add-to-cart-button{
    position: absolute;
    top: 12px;
    font-size: 13px;
    color: #edc600;
    text-transform: uppercase;
    text-decoration: underline;
    visibility: hidden;
}

.cart:hover .add-to-cart-button{
    visibility: visible;
    top: 0;
    transition: .2s all;
}

.cart:hover .menu-price{
    visibility: hidden;
}

.cart .add-to-cart-button a{
    text-decoration: none;
    color: #edc600;
}

.big-image{
    position: relative;
}

.big-image p{
    position: absolute;
    top: 190px;
    left:80px;
    font-size: 33px;
    background-color: #fff;
    width: 500px;
    color: #222222;
    padding: 30px 50px;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.sponser{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.footer-top{
    display: flex;
}

.footer-top .footer-logo,
.footer-top .footer-nav,
.footer-top .footer-ex-nav,
.footer-top .footer-info{
    width: 25%;
    box-shadow: 0px 0px 3px rgb(189, 186, 186);
    padding: 50px 25px;
    background-color: #f3f3f3;
}

.footer-logo{
    display: flex;
    justify-content: center;
}

.footer-nav ul li,
.footer-ex-nav ul li{
    list-style-type: none;
}

.footer-nav ul li a,
.footer-ex-nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin: 8px 0;
    font-size: 13px;
    transition: .4s all;
}

.footer-nav ul li a:hover,
.footer-ex-nav ul li a:hover{
    color: #edc600;
}

.footer-info div{
    margin: 10px 0;
}

.footer-info div i{
    margin-right: 5px;
}

.footer-info div a {
    text-decoration: none;
    color: #000;
}

.footer-info-note p{
    font-size: 12px;
}

.footer-bottom{
    padding: 20px 0;
    background-color: #f3f3f3;
    text-align: center;
    font-size: 14px;
}

@keyframes searchoptionanimation{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animate1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes animate2{
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0px);
    }
}


